<div class="col-12">
    <div class="card">
        <div class="card-header">
            <h1 class="card-title">Registro de vehiculos </h1>

            <div class="card-tools">
                <div class="input-group input-group-sm" style="width: 150px;">
                    <button routerLink="/dashboard/add-vehicle" class="fa-sharp fa-solid fa-plus">nuevo</button>

                    <br>
                    <div class="input-group-append">



                    </div>
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body table-responsive p-0">
                <table class="table table-hover text-nowrap">
                    <thead>
                        <tr>
                            <th>placa</th>
                            <th>color</th>
                            <th>marca</th>
                            <th>tipo de vehiculo</th>




                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let vehicle of listVehicle">
                            <td>
                                {{vehicle.placa}}
                            </td>
                            <td>
                                {{vehicle.color}}
                            </td>

                            <td>
                                {{vehicle.marca}}
                            </td>

                            <td>
                                {{vehicle.tipoVehiculo}}
                            </td>



                        </tr>


                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>